* {
    /* overflow: hidden; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
}
/* ///shine 0072ff */

.animation-bounce {
    border-radius: 50%;
    animation: bounceAnimation 3s infinite linear;
}
/* #shiningSvg {
    box-shadow: 0 0 8px #0072ff, 0 0 15px #0072ff, 0 0 15px #0072ff, 0 0 15px #0072ff;
} */
.flx-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-wetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_skill_item {
    display: none;
}

@media screen and (max-width: 900px) {
    .mobile_skill_item {
        display: block;
    }
    .desktop_skill_item {
        display: none;
    }
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(1px);
    }
}
